<%= render "shared/header" %>

<!-- ファーストビュー -->
<div class="kasou_midashi">
  <h2>Contact</h2>
  <p class="kasou_border">お問い合わせ</p>
</div>

<!-- お問い合わせ -->
<div id="contact">
  <p>なにかご質問ご相談がありましたら、下記のフォームよりお問い合わせください。</p>
</div>
<section id="form">
  <h3>お問い合わせフォーム</h3>
  <%= form_with model: @contact, url: skips_path do |f| %>
    <div class="form">
      <label class="contact_lavel">お名前<span>*</span></label>
      <%= f.text_field :name, placeholder:"お名前" %>
    </div>
    <div class="form">
      <label class="contact_lavel">URL</label>
      <%= f.text_field :url, placeholder:"url" %>
    </div>
    <div class="form">
      <label class="contact_lavel">メールアドレス<span>*</span></label>
      <%= f.text_field :mail, placeholder:"例) example@example.com" %>
    </div>
    <div class="form">
      <label class="contact_lavel">確認用メールアドレス<span>*</span></label>
      <%= f.text_field :mail_confirmation, placeholder:"例) example@example.com" %>
    </div>
    <div class="form form_end">
      <label class="contact_lavel">お問い合わせ内容<span>*</span></label>
      <%= f.text_area :message, placeholder:"お問い合わせの内容を入力してください。(1000文字以内)", rows:"7" %>
    </div>
    <div class="submit">
      <%= f.submit "送信" %>
    </div>
  <% end %>
</section>

<%= render "shared/footer" %>