<%= render "shared/header" %>

<!-- ファーストビュー -->
<div class="kasou_midashi">
  <h2>News</h2>
  <p class="kasou_border">お知らせ一覧</p>
</div>

<!-- ニュース一覧 -->
<section>
  <div class="news_flex">
    <% @admins.each do |admin| %>
      <div class="news_contents">
        <%= link_to newsDetail_skip_path(admin.id) do %>
          <div class="news_img">
            <%= image_tag admin.image if admin.image.attached? %>
          </div>
          <div class="news_info">
            <time>
              <%= admin.created_at.strftime("%Y.%m.%d") %>
            </time>
            <h4>
              <%= admin.title.truncate(12) %>
            </h4>
            <p>
              <%= strip_tags(admin.content.to_s).gsub(/[\n]/,"").strip.truncate(60) %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <ul id="pagination">
    <li class="pagination">
      <%= paginate @admins, window: 3, outer_window: 1 %>
    </li>
  </ul>
</section>

<%= render "shared/footer" %>