<%= render "shared/header" %>

<!-- ファーストビュー -->
<div class="kasou_midashi">
  <h2>News</h2>
  <p class="kasou_border">お知らせ</p>
</div>

<!-- ニュース詳細 -->
<section>
  <div id="news_details">
    <div class="news_details">
      <time>
        <%= @admin.created_at.strftime("%Y.%m.%d") %>
      </time>
      <h4>
        <%= @admin.title %>
      </h4>
      <%= image_tag @admin.image if @admin.image.attached? %>
      <p>
        <%= safe_join(@admin.description.split("\n"),tag(:br)) %>
      </p>
    </div>

    <!-- ニュース右ナビゲーション -->
    <div class="news_nav">
      <% @admins.first(2).each do |admin| %>
        <div class="news_details_contents">
          <%= link_to newsDetail_skip_path(admin.id) do %>
            <div class="news_img news_nav_img">
              <%= image_tag admin.image if admin.image.attached? %>
            </div>
            <div class="news_details_info">
              <time>
                <%= admin.created_at.strftime("%Y.%m.%d") %>
              </time>
              <h4>
                <%= admin.title %>
              </h4>
              <p>
                <%= safe_join(admin.description.truncate(48).split("\n"),tag(:br)) %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="more_news">
    <%= link_to 'ニュース一覧', news_skips_path %>
  </div>
</section>

<%= render "shared/footer" %>