<section class="admin">
  <%= render "shared/left_nav" %>

  <div id="admin_contents">
    <%= render "shared/log_out" %>
    <div class="admin_title">
      <h2>ユーザー情報編集</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%# <%= render "devise/shared/error_messages", resource: resource %>
        <div class="user_edit">

          <div class="user_edit_field left_field">
            <label>ユーザー名</label>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          </div>

          <div class="user_edit_field right_field">
            <label>メールアドレス</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="user_edit_field left_field">
            <label>新しいパスワード</label>
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"変更したくない場合は空白のままにします" %>
          </div>

          <div class="user_edit_field right_field">
            <label>新しいパスワード（確認用）</label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="user_edit_field left_field">
            <label>名字</label>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>

          <div class="user_edit_field right_field">
            <label>名前</label>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </div>

          <div class="user_edit_field left_field">
            <label>現在のパスワード</label>
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"変更を確認するには、現在のパスワードが必要です" %>
          </div>

        </div>
        <div class="user_edit_actions">
          <%= f.submit "変更" %>
        </div>
      <% end %>
    </div>
    <%= render "shared/admin_footer" %>
  </div>
</section>