<section id="admin_signup">
  <div class="admin_signup_box">
    <div class="user_new">
      <h2>ユーザー新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="user_new_field">
          <label>ユーザー名<span>必須</span></label>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>

        <div class="user_new_field">
          <label>メールアドレス<span>必須</span></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="user_new_field">
          <label>パスワード<span>必須</span></label>
          <%= f.password_field :password, placeholder: "6文字以上", autocomplete: "new-password" %>
        </div>

        <div class="user_new_field">
          <label>確認用パスワード<span>必須</span></label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="user_new_field">
          <label>名字<span>必須</span></label>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>

        <div class="user_new_field">
          <label>名前<span>必須</span></label>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>

        <div class="user_new_actions">
          <%= link_to 'ログインはこちら', new_user_session_path, class: "admin_signin" %>
          <%= f.submit "新規登録", class: "admin_new_submit" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
