<div id="hamburger" class="hamburger">
  <span class="hamburger_line"></span>
</div>
<header>
  <div class="header_flex">
    <h1>
      <%= link_to(root_path) do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </h1>
    <nav id="nav">
      <ul>
        <li><%= link_to 'News', news_skips_path %></li>
        <li><%= link_to 'Access', access_skips_path %></li>
        <li><%= link_to 'Contact', contact_skips_path %></li>
        <li><a href="http://skip.ocnk.net/">Online&nbsp;Shop</a></li>
      </ul>
    </nav>
    <div class="instagram">
      <a href="https://www.instagram.com/skipcafe/" target="_blank">
        <%= image_tag "instagram.png" %>
      </a>
    </div>
  </div>
</header>