<nav id="admin_nav">
  <h1>
    <%= link_to(root_path) do %>
      <%= image_tag "logo.png", class: "admin_logo" %>
    <% end %>
  </h1>

  <div class="left_nav">
    <button class="nav_list">
      <%= link_to(admins_path) do %>
        <i class="fas fa-laptop"></i>
        <span class="nav_text">Home</span>
      <% end %>
    </button>

    <ul class="accordion">
      <li class="accordion_title">
        <i class="fas fa-user"></i>
        <span class="nav_text">ユーザー管理</span>
        <span class="pull-right-container">
          <i class="fas fa-chevron-left"></i>
        </span>
      </li>
      <ul class="accordion_list">
        <li class="accordion_item">
          <%= link_to '- ユーザー情報の編集', edit_user_registration_path %>
        </li>
        <li class="accordion_item">
          <%= link_to '- ユーザー一覧', user_users_path %>
        </li>
        <li class="accordion_item">
          <%= link_to '- 新規ユーザー登録', new_user_registration_path %>
        </li>
      </ul>

      <li class="accordion_title">
        <i class="fas fa-file-alt"></i>
        <span class="nav_text">お知らせ管理</span>
        <span class="pull-right-container">
          <i class="fas fa-chevron-left"></i>
        </span>
      </li>
      <ul class="accordion_list">
        <li class="accordion_item">
          <%= link_to '- お知らせ新規投稿', new_admin_path %>
        </li>
        <li class="accordion_item">
          <%= link_to '- お知らせ一覧', news_admins_path %>
        </li>
      </ul>
    </ul>
  </div>
</nav>